@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.splide__pagination__page {
  @apply size-2 !important;
}
.splide {
  @apply pt-2 !important;
}

.splide__pagination__page.is-active {
  @apply bg-main !important;
}

.splide__pagination__page:hover {
  @apply bg-secondary scale-125 !important;
}

/* Webkit scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #e9a876;
}

::-webkit-scrollbar-thumb {
  background-color: #c36218;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff6f00;
}
